<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="page-header">
      <h1 id="timeline">Experiences:</h1>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">
                <div class="row">
                    <class class="col-8">Tianjin Univeristy</class>
                    <class class="col-4" style="text-align: end; font-size: 1rem;">09/2016 -- 07/2020</class>
                </div>
            </h4>
          </div>
          <div class="timeline-body">
            <div class="row">
                <div class="col-md h6">
                    M.S. in Computer Science
                </div>
                <div class="col-md" style="text-align: end;">
                    New York, NY,US
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md">
                    <span class="bolded">Cumulative GPA</span>: 3.85/4.0
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md">
                    <span class="bolded">Related Course</span>: Operating Systems, Fundamental Algorithms, Programming Language, DevOps and Agile, Big Data Application, Artificial Intelligence, Applied Cryptography.
                </div>
            </div>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
            <h4 class="timeline-title">
                <div class="row">
                    <class class="col-8">Novo Nordisk IT</class>
                    <class class="col-4" style="text-align: end; font-size: 1rem;">07/2020 - 12/2020
                    </class>
                </div>
            </h4>
          <div class="timeline-body">
                <p>Business Analyst Intern</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Delivered visualized IT operation and maintenance reports of production lines using Qlick Sense.</li>
                    <li class="list-group-item">Updated logic documents of monthly reports. Implemented the automation of reports using Python.</li>
                    <li class="list-group-item">Assisted the delivery manager in optimizing the work process to enhance customer satisfaction.</li>
                    <li class="list-group-item">Performed queries to check data, repair data, and insert data to a database using MySQL.</li>
                </ul>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">
            <div class="row">
                <class class="col-8">New York Univeristy</class>
                <class class="col-4" style="text-align: end; font-size: 1rem;">01/2021 -- Now</class>
            </div>
            </h4>
        </div>
          <div class="timeline-body">
            <div class="row">
                <div class="col-9 small">
                    B.A.Sc in Information Management and Information Systems
                </div>
                <div class="col-3 small" style="text-align: end;">
                    Tianjin, China
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md">
                    <span class="bolded">Cumulative GPA</span>: 3.56/4.0
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md">
                    <span class="bolded">Related Course</span>: Analysis and Design of Information Systems, Operation and Maintenace Management of Information Systems, Computer Networking, OOP Design, Data Structure, Database Systems, Data Warehourse & Data mining. 
                </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>