<% layout('layouts/boilerplate')%>
    <div class="container">
        <!-- about me -->
        <div class="d-flex mb-3 justify-content-center align-items-center">
                <img class="image-fluid p-2" style="width: 80%;max-width: 200px;"
                        alt="profile photo"
                        src="https://res.cloudinary.com/sherry-camp/image/upload/v1659542899/WechatIMG8_fu3lqv.jpg">
                <div class="ml-5 p-1 w-50">
                    <h5>About Me:</h5>
                    I'am a graduate student majored in computer science in New York Univeristy. Before that, I majored
                    in Information Management and Information Systems in Tianjin Univeristy.
                    My interests are in Full-stack Engineering and I love to create beautiful and performant products
                    with delightful user experiences and robust backend services.
                </div>
   
        </div>
        <div class="card">
            <h5 class="card-header">Education:</h5>
            <div class="card-body">
                <p class="card-text">
                <h6 class="card-title h5">New York Univeristy</h6>
                <div class="row">
                    <div class="col-md h6">
                        M.S. in Computer Science
                    </div>
                    <div class="col-md" style="text-align: end;">
                        New York, NY,US
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md">
                        <span class="bolded">Cumulative GPA</span>: 3.85/4.0
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md">
                        <span class="bolded">Related Course</span>: Operating Systems, Fundamental Algorithms,
                        Programming Language, DevOps and Agile, Big Data Application, Artificial Intelligence, Applied
                        Cryptography.
                    </div>
                </div>
                <h6 class="card-title mt-3 h5">Tianjin Univeristy</h6>
                <div class="row">
                    <div class="col-md">
                        B.A.Sc in Information Management and Information Systems
                    </div>
                    <div class="col-md" style="text-align: end;">
                        Tianjin, China
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md">
                        <span class="bolded">Cumulative GPA</span>: 3.56/4.0
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md">
                        <span class="bolded">Related Course</span>: Analysis and Design of Information Systems,
                        Operation and Maintenace Management of Information Systems, Computer Networking, OOP Design,
                        Data Structure, Database Systems, Data Warehourse & Data mining.
                    </div>
                </div>
                </p>
            </div>
        </div>
        <%-include('partials/projects')%> 
    </div>